@import './base.css';

a,
.accent {
  text-decoration: none;
  color: #fdc434;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(253, 196, 52, 0.15);
  }
}

@media (min-width: 1024px) {

}
